
.bigCounter{
    text-align: center;
   

}

.bigCounter div {
    display: inline-block;
    background: #212121;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 15px;
    margin: 5px;
}